# 0.Data Load

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/multicampus/project2/데이터

/content/drive/MyDrive/multicampus/project2/데이터

In [197]:
rawdata = pd.read_excel('used_car.xlsx')

## 데이터 확인

In [198]:
rawdata.head(3)

,이름,차량번호,연식,주행거리,연료,배기량,색상,보증정보,가격,신차대비가격,...,옵션_파노라마선루프,옵션_열선앞,옵션_열선뒤,옵션_전방센서,옵션_후방센서,옵션_전방캠,옵션_후방캠,옵션_어라운드뷰,옵션_네비순정,보험이력등록
0,쉐보레 더 뉴 스파크 1.0 프리미어,차량번호 119구3955,2021.07 (22년형),"16,250 km",가솔린,999 cc (75마력),1,"60개월 / 100,000km","1,100만원",75,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,등록
1,현대 올 뉴 투싼 1.6 디젤 2WD 스마트,차량번호 359보9225,2018.11 (19년형),"67,696 km",디젤,"1,598 cc (136마력)",1,"60개월 / 100,000km","1,699만원",71,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,등록
2,기아 더 뉴 봉고3 캠핑카 -,차량번호 98버3990,2020.11,"29,000 km",디젤,"2,497 cc (133마력)",1,정보없음,"7,480만원",준비중,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록

In [199]:
rawdata.columns

Index(['이름', '차량번호', '연식', '주행거리', '연료', '배기량', '색상', '보증정보', '가격', '신차대비가격',
       '옵션_선루프', '옵션_파노라마선루프', '옵션_열선앞', '옵션_열선뒤', '옵션_전방센서', '옵션_후방센서',
       '옵션_전방캠', '옵션_후방캠', '옵션_어라운드뷰', '옵션_네비순정', '보험이력등록'],
      dtype='object')

In [200]:
# 사용 열 선택

used_car = rawdata[['이름','연식','주행거리','연료',
       '배기량', '색상', '보증정보', '가격', '신차대비가격', '옵션_선루프', '옵션_파노라마선루프', '옵션_열선앞',
       '옵션_열선뒤', '옵션_전방센서', '옵션_후방센서', '옵션_전방캠', '옵션_후방캠', '옵션_어라운드뷰',
       '옵션_네비순정', '보험이력등록']]

In [201]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2634 entries, 0 to 2633
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   이름          2634 non-null   object
 1   연식          2634 non-null   object
 2   주행거리        2634 non-null   object
 3   연료          2634 non-null   object
 4   배기량         2634 non-null   object
 5   색상          2634 non-null   int64
 6   보증정보        2634 non-null   object
 7   가격          2634 non-null   object
 8   신차대비가격      2634 non-null   object
 9   옵션_선루프      2022 non-null   float64
 10  옵션_파노라마선루프  2022 non-null   float64
 11  옵션_열선앞      2022 non-null   float64
 12  옵션_열선뒤      2022 non-null   float64
 13  옵션_전방센서     2022 non-null   float64
 14  옵션_후방센서     2022 non-null   float64
 15  옵션_전방캠      2022 non-null   float64
 16  옵션_후방캠      2022 non-null   float64
 17  옵션_어라운드뷰    2022 non-null   float64
 18  옵션_네비순정     2022 non-null   float64
 19  보험이력등록      2634 non-null   object
dtypes: float64(10), int64(1), object(9)
memory usage: 411.7+ KB

In [202]:
used_car.head(3)

,이름,연식,주행거리,연료,배기량,색상,보증정보,가격,신차대비가격,옵션_선루프,옵션_파노라마선루프,옵션_열선앞,옵션_열선뒤,옵션_전방센서,옵션_후방센서,옵션_전방캠,옵션_후방캠,옵션_어라운드뷰,옵션_네비순정,보험이력등록
0,쉐보레 더 뉴 스파크 1.0 프리미어,2021.07 (22년형),"16,250 km",가솔린,999 cc (75마력),1,"60개월 / 100,000km","1,100만원",75,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,등록
1,현대 올 뉴 투싼 1.6 디젤 2WD 스마트,2018.11 (19년형),"67,696 km",디젤,"1,598 cc (136마력)",1,"60개월 / 100,000km","1,699만원",71,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,등록
2,기아 더 뉴 봉고3 캠핑카 -,2020.11,"29,000 km",디젤,"2,497 cc (133마력)",1,정보없음,"7,480만원",준비중,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록

# 1.전처리

## 1.이름

* 기존 이름 열에는 제조사, 모델명, 모델 등급이 섞여있음

In [203]:
used_car[['이름']].head()

                          이름
0       쉐보레 더 뉴 스파크 1.0 프리미어
1  현대 올 뉴 투싼 1.6 디젤 2WD  스마트
2       기아 더 뉴 봉고3  캠핑카 -
3         GM대우 레스타  캠핑카 -
4       기아 더 뉴 봉고3  캠핑카 -

### 제조사

- 이름 열에서 제조사 추출
    - 띄워쓰기 기준으로 이름을 분리
    - 맨 앞에 있는 값을 제조사 열로 추가함

In [204]:
mf = used_car['이름'].str.split(' ')
used_car['제조사'] = mf.str.get(0)

In [205]:
used_car.제조사.value_counts()

현대      1017
기아       876
제네시스     230
쌍용       165
쉐보레      154
르노삼성     148
GM대우      43
대우         1
Name: 제조사, dtype: int64

* 제조사 대우, GM 대우는 쉐보레 브랜드로 통합

In [206]:
datafilter1 = used_car['제조사'].str.contains('대우', na = False)

In [207]:
used_car[datafilter1].head()

,이름,연식,주행거리,연료,배기량,색상,보증정보,가격,신차대비가격,옵션_선루프,...,옵션_열선앞,옵션_열선뒤,옵션_전방센서,옵션_후방센서,옵션_전방캠,옵션_후방캠,옵션_어라운드뷰,옵션_네비순정,보험이력등록,제조사
3,GM대우 레스타 캠핑카 -,2019.1,"12,000 km",디젤,"3,800 cc ()",1,불가,"9,600만원",준비중,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록,GM대우
671,GM대우 라세티 프리미어 1.8 CDX ID 일반형,2010.03,"107,000 km",가솔린,"1,796 cc (142마력)",1,만료,190만원,11,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,등록,GM대우
691,GM대우 라세티 프리미어 2.0 디젤 CDX 블루 & 블랙 에디션,2009.09,"125,244 km",디젤,"1,991 cc (150마력)",1,불가,200만원,9,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,미등록,GM대우
925,GM대우 윈스톰 2.0 디젤 2WD 7인승 LT 고급형,2008.01,"178,279 km",디젤,"1,991 cc (150마력)",1,만료,260만원,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,등록,GM대우
976,GM대우 알페온 EL300 스페셜,2011.02,"1,517,440 km",가솔린,"2,997 cc (263마력)",1,만료,350만원,8,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,등록,GM대우

In [208]:
used_car.loc[datafilter1, '제조사'] = '쉐보레'

In [209]:
used_car.제조사.value_counts()

현대      1017
기아       876
제네시스     230
쉐보레      198
쌍용       165
르노삼성     148
Name: 제조사, dtype: int64

In [210]:
used_car.제조사.unique()

array(['쉐보레', '현대', '기아', '쌍용', '제네시스', '르노삼성'], dtype=object)

* 제조사 encoding

In [211]:
from sklearn.preprocessing import LabelEncoder

encoder1 = LabelEncoder()
LE = encoder1.fit_transform(used_car['제조사'])

used_car['제조사'] = LE

In [212]:
used_car.제조사.value_counts()

5    1017
0     876
4     230
2     198
3     165
1     148
Name: 제조사, dtype: int64

## 2.연식

- 기존 연식 데이터에서 연도만 추출
    - 숫자만 있는 데이터가 있어 str.split 불가 → 연식 데이터 타입 str로 변환
    - ‘.’ 기준으로 분리
    - 0번째 데이터를 연도 열에 추가 후 데이터 타입 변환

In [213]:
used_car = used_car.astype({'연식':'str'})

In [214]:
year = used_car['연식'].str.split('.')
year = year.str.get(0)

In [215]:
used_car['연식'] = year

In [216]:
used_car = used_car.astype({'연식':'int'})
used_car['연식']

0       2021
1       2018
2       2020
3       2019
4       2020
        ...
2629    2021
2630    2021
2631    2021
2632    2019
2633    2012
Name: 연식, Length: 2634, dtype: int64

## 2.주행거리

- 주행 거리 수정
    - ‘km’ 삭제
    - ‘,’ 삭제
    - 데이터 타입 변환

In [217]:
used_car['주행거리'] = used_car['주행거리'].str.strip('km')

In [218]:
used_car['주행거리'] = used_car['주행거리'].str.replace(',','')
used_car['주행거리']

0        16250
1        67696
2        29000
3        12000
4         5600
         ...
2629      1661
2630         8
2631         9
2632     46557
2633    340267
Name: 주행거리, Length: 2634, dtype: object

In [219]:
used_car = used_car.astype({'주행거리':'int'})
used_car['주행거리']

0        16250
1        67696
2        29000
3        12000
4         5600
         ...
2629      1661
2630         8
2631         9
2632     46557
2633    340267
Name: 주행거리, Length: 2634, dtype: int64

## 4.연료

- 연료 인코딩 결과
    - 0 = LPG
    - 1 = LPG 하이브리드
    - 2 = 가솔린
    - 3 = 가솔린 하이브리드
    - 4 = 가솔린/CNG 겸용
    - 5 = 가솔린/LPG 겸용
    - 6 = 기타
    - 7 = 디젤
    - 8 = 디젤 하이브리드
    - 9 = 전기
    - 10 = 하이브리드(가솔린/전기)

In [220]:
used_car['연료'].value_counts()

가솔린              1295
디젤               1063
LPG               163
가솔린 하이브리드          57
전기                 42
가솔린/LPG겸용           6
LPG 하이브리드           3
하이브리드(가솔린/전기)       3
디젤 하이브리드            1
가솔린/CNG겸용           1
Name: 연료, dtype: int64

In [221]:
from sklearn.preprocessing import LabelEncoder

encoder1 = LabelEncoder()
LE = encoder1.fit_transform(used_car['연료'])

In [222]:
used_car['연료'] = LE

In [223]:
used_car['연료']

0       2
1       6
2       6
3       6
4       6
       ..
2629    2
2630    6
2631    6
2632    2
2633    2
Name: 연료, Length: 2634, dtype: int64

In [224]:
used_car['연료'].value_counts()

2    1295
6    1063
0     163
3      57
8      42
5       6
1       3
9       3
7       1
4       1
Name: 연료, dtype: int64

## 5.배기량

- 배기량 전처리
    - 공백 기준으로 분리
    - 맨 처음 값 배기량 데이터로 변경
    - ‘,’ 삭제
    - 데이터 타입 변경

In [225]:
used_car['배기량']

0          999 cc (75마력)
1       1,598 cc (136마력)
2       2,497 cc (133마력)
3            3,800 cc ()
4       2,497 cc (133마력)
              ...
2629    3,470 cc (294마력)
2630    2,151 cc (202마력)
2631    2,151 cc (202마력)
2632         1,998 cc ()
2633        12,742 cc ()
Name: 배기량, Length: 2634, dtype: object

In [226]:
disp = used_car['배기량'].str.split(' ')
disp = disp.str.get(0)
used_car['배기량'] = disp

In [227]:
used_car['배기량'] = used_car['배기량'].str.replace(',','')
used_car = used_car.astype({'배기량':'int'})
used_car['배기량']

0         999
1        1598
2        2497
3        3800
4        2497
        ...
2629     3470
2630     2151
2631     2151
2632     1998
2633    12742
Name: 배기량, Length: 2634, dtype: int64

## 6.색상

- 엑셀 수정
    - 흰색: 다이아몬드화이트, 스노우 화이트 펄, 우유니화이트, 크리미화이트 등
- 색상 encoding
    - 검정, 흰색, 회색 = 1
    - 나머지 = 0

In [228]:
used_car['색상'].value_counts()

1    2305
0     329
Name: 색상, dtype: int64

##7.보증정보

- 보증 정보 encoding
    - 만료, 불가, 정보 없음 = 0
    - 나머지 = 1

In [229]:
used_car['보증정보'].value_counts()

만료                   911
불가                   660
60개월 / 100,000km     654
정보없음                 311
60개월 / 120,000km      58
132개월 / 220,000km     17
36개월 / 60,000km       12
24개월 / 40,000km        5
가능                     3
144개월 / 240,000km      2
168개월 / 300,000km      1
Name: 보증정보, dtype: int64

In [230]:
change_warranty = {'보증정보': {'만료':0, '불가':0,'60개월 / 100,000km':1,'정보없음':0,
                                '60개월 / 120,000km':1,'132개월 / 220,000km':1,'36개월 / 60,000km':1,
                                '24개월 / 40,000km':1,'가능':1,'144개월 / 240,000km':1,'168개월 / 300,000km':1}}

used_car = used_car.replace(change_warranty)

used_car['보증정보']

0       1
1       1
2       0
3       0
4       0
       ..
2629    1
2630    1
2631    1
2632    0
2633    0
Name: 보증정보, Length: 2634, dtype: int64

In [231]:
# def change_warranty(warranty):
#   if warranty.str.isalnum() == True:
#     return 1
#   else:
#     return 0

# 함수로 해결하려고 했는데 오류나요 ..

In [232]:
# used_car['보증정보'] = used_car['보증정보'].apply(change_warranty)
# used_car['보증정보']

##8.가격

- 가격 만원 단위로 절삭
    - 만원 단위 삭제
    - ‘,’ 삭제
    - 데이터 타입 변환

In [233]:
used_car['가격']

0       1,100만원
1       1,699만원
2       7,480만원
3       9,600만원
4       7,150만원
         ...
2629    8,300만원
2630    8,300만원
2631    6,280만원
2632    2,100만원
2633    4,700만원
Name: 가격, Length: 2634, dtype: object

In [234]:
used_car['가격'] = used_car['가격'].str.strip('만원')

In [235]:
used_car['가격'] = used_car['가격'].str.replace(',','')
used_car['가격']

0       1100
1       1699
2       7480
3       9600
4       7150
        ...
2629    8300
2630    8300
2631    6280
2632    2100
2633    4700
Name: 가격, Length: 2634, dtype: object

In [236]:
used_car

,이름,연식,주행거리,연료,배기량,색상,보증정보,가격,신차대비가격,옵션_선루프,...,옵션_열선앞,옵션_열선뒤,옵션_전방센서,옵션_후방센서,옵션_전방캠,옵션_후방캠,옵션_어라운드뷰,옵션_네비순정,보험이력등록,제조사
0,쉐보레 더 뉴 스파크 1.0 프리미어,2021,16250,2,999,1,1,1100,75,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,등록,2
1,현대 올 뉴 투싼 1.6 디젤 2WD 스마트,2018,67696,6,1598,1,1,1699,71,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,등록,5
2,기아 더 뉴 봉고3 캠핑카 -,2020,29000,6,2497,1,0,7480,준비중,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록,0
3,GM대우 레스타 캠핑카 -,2019,12000,6,3800,1,0,9600,준비중,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록,2
4,기아 더 뉴 봉고3 캠핑카 -,2020,5600,6,2497,1,0,7150,준비중,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,기아 카니발 4세대 3.5 가솔린 9인승 시그니처,2021,1661,2,3470,1,1,8300,준비중,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,미등록,0
2630,기아 카니발 4세대 2.2 디젤 9인승 시그니처,2021,8,6,2151,1,1,8300,202,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,미등록,0
2631,기아 카니발 4세대 2.2 디젤 9인승 시그니처,2021,9,6,2151,1,1,6280,152,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미등록,0
2632,현대 벨로스터 N 2.0 터보 퍼포먼스팩,2019,46557,2,1998,0,0,2100,66,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,미등록,5
2633,기아 그랜버드 HD 마일드브리즈 46인승 자가용,2012,340267,2,12742,0,0,4700,준비중,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,미등록,0

In [237]:
used_car = used_car.astype({'가격':'int'})

##9.보험이력등록

- 등록 = 0
- 미등록 = 1

In [238]:
used_car['보험이력등록'].value_counts()

등록     1972
미등록     662
Name: 보험이력등록, dtype: int64

In [239]:
from sklearn.preprocessing import LabelEncoder

encoder2 = LabelEncoder()
LE2 = encoder2.fit_transform(used_car['보험이력등록'])

In [240]:
used_car['보험이력등록'] = LE2
used_car['보험이력등록'].value_counts()

0    1972
1     662
Name: 보험이력등록, dtype: int64

#2.전처리 끝

In [241]:
used_car.head(3)

,이름,연식,주행거리,연료,배기량,색상,보증정보,가격,신차대비가격,옵션_선루프,...,옵션_열선앞,옵션_열선뒤,옵션_전방센서,옵션_후방센서,옵션_전방캠,옵션_후방캠,옵션_어라운드뷰,옵션_네비순정,보험이력등록,제조사
0,쉐보레 더 뉴 스파크 1.0 프리미어,2021,16250,2,999,1,1,1100,75,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,2
1,현대 올 뉴 투싼 1.6 디젤 2WD 스마트,2018,67696,6,1598,1,1,1699,71,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,5
2,기아 더 뉴 봉고3 캠핑카 -,2020,29000,6,2497,1,0,7480,준비중,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [242]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2634 entries, 0 to 2633
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   이름          2634 non-null   object
 1   연식          2634 non-null   int64
 2   주행거리        2634 non-null   int64
 3   연료          2634 non-null   int64
 4   배기량         2634 non-null   int64
 5   색상          2634 non-null   int64
 6   보증정보        2634 non-null   int64
 7   가격          2634 non-null   int64
 8   신차대비가격      2634 non-null   object
 9   옵션_선루프      2022 non-null   float64
 10  옵션_파노라마선루프  2022 non-null   float64
 11  옵션_열선앞      2022 non-null   float64
 12  옵션_열선뒤      2022 non-null   float64
 13  옵션_전방센서     2022 non-null   float64
 14  옵션_후방센서     2022 non-null   float64
 15  옵션_전방캠      2022 non-null   float64
 16  옵션_후방캠      2022 non-null   float64
 17  옵션_어라운드뷰    2022 non-null   float64
 18  옵션_네비순정     2022 non-null   float64
 19  보험이력등록      2634 non-null   int64
 20  제조사         2634 non-null   int64
dtypes: float64(10), int64(9), object(2)
memory usage: 432.3+ KB

In [243]:
# 저장
used_car.to_excel("/content/sample_data/used_car.xlsx", index = False)