# [에어크루] 항공사 고객 만족도 예측 경진대회 
# Stage 1. 프로젝트 배경 및 데이터 파악하기

항공사 고객 만족도 예측 경진대회에 참여하신 데이커 여러분, 환영합니다. 🙌

## 1. Intro

고객 만족도 조사 왜 필요할까요?

BtoC 사업을 추진하는 회사에게 고객 만족도를 파악하는 것은 미래 사업 계획을 세우고 성장하는 데 있어 가장 중요한 지표입니다. 고객 만족도 예측은 고객이 원하는 서비스를 파악하고 품질을 향상 시켜 충성 고객을 확보할 수 있습니다. 궁극적으로 기업이 성장할 수 있는 동력을 제공하는 것이죠.

따라서 다양한 사업에서 고객 만족도를 예측할 수 있도록 우선 항공사 고객 만족도 예측을 진행해보려 합니다.

---

## 2. 프로젝트 배경

![image111](https://images.unsplash.com/photo-1483450388369-9ed95738483c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)

코로나 19 펜데믹으로 전 세계 항공 업계가 큰 타격을 입었습니다.

2021년 전 세계 공항은 covid-19 위기로 인해 예상 기준치 대비 전 세계 여객 운송량이 35.5% 감소하였고, 2022년 말까지 3,100억 달러 이상의 손실을 예상할 만큼 어려운 시간이었습니다.

현재는 위드 코로나 상황에 따라 주요 항공사들은 국내/국제선 노선 재개를 통해 다시 활력을 찾는 조짐을 보이고 있습니다.

각 항공사들은 코로나 19 이후 방역과 안전에 주안점을 두고  포스트 코로나 시대를 선도하는 항공사로 굳건히 자리매김하기 위해 고객 서비스 강화를 위한 다양한 노력을 기울여 나갈 계획을 세우고 있습니다. 

그렇다면, 서비스의 질적 향상을 통해 1위 항공사가 될 수 있도록 

아래의 데이터로 고객 만족도를 함께 예측해 볼까요?

---

## 3. 데이터 살펴보기

**데이터 설명**
- 이 데이터는 항공사 조직에서 제공한 것입니다. 회사의 실제 이름은 다양한 목적으로 인해 제공되지 않아 Invisistico Airlines라는 이름이 사용되었습니다.
- 데이터 세트는 이미 함께 비행한 고객의 세부 정보로 구성됩니다. 다양한 상황과 비행 데이터에 대한 고객의 피드백이 통합되었습니다.
- 이 데이터 세트의 주요 목적은 다른 매개변수 값의 세부 사항을 고려할 때 미래의 고객이 서비스에 만족할지 여부를 예측하는 것입니다.

출처: https://www.kaggle.com/sjleshrac/airlines-customer-satisfaction

### 3.1 데이터 불러오기

데이터 분석에 앞서, 사용할 데이터가 어떤 데이터인지 꼼꼼히 살펴보겠습니다. 

이 과정은 주어진 데이터가 어떤 데이터인지 파악하고 어떤 분석이 가능한지 확인하는 과정입니다. 데이터 분석의 방향성을 잡기 위한 과정이라고 할 수 있어요!

이 프로젝트는 아래와 같은 3개의 csv 파일을 제공합니다.

1. train.csv : 데이터 분석 모델을 학습(train)하기 위해 사용하는 데이터

2. test.csv : 데이터 분석 모델을 통해 정답을 예측하기 위해 사용하는 데이터

3. sample_submission.csv : 예측한 정답 값을 기록하여 제출하기 위한 샘플 정답 파일

데이터 파일을 불러오기에 앞서, 필요한 명령어와 패키지를 살펴보겠습니다.

- **import :** 설치된 "pandas" 패키지를 불러오는 명령어
- **pandas** : 데이터 분석에 용이한 데이터 형식 (Series, DataFrame) 제공
- **as** : alias의 약어인 as. 약어를 생성해 긴 이름을 가진 패키지도 간편하게 불러올 수 있음. pandas를 pd로 바꾸니까 얼마나 편하게요?

함께 입력해볼까요?

In [1]:
import pandas as pd

pandas를 import 했다면 pandas 패키지에서 제공하는 "read_csv"를 활용하여 csv파일을 불러올 수 있어요! 

원하는 변수명에 불러온 데이터 csv 파일을 저장할 수 있어요.

In [2]:
#변수명 = pd.read_csv(파일명)
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
sample_submission = pd.read_csv('./sample_submission.csv')

### 3.2 데이터 확인

불러온 데이터를 간단히 확인해보는 방법!

head(), info(), columns 명령어를 사용해 함께 살펴보겠습니다. 

- head() : 데이터 프레임의 일부를 보여줘요. 괄호 안의 숫자를 지정해 원하는 만큼 볼 수 있습니다.
- info() : 데이터 프레임을 구성하는 열, 데이터 타입, 갯수 등의 정보와 이상치와 결측치도 확인할 수 있습니다.
- columns : 데이터 프레임의 열만 확인할 수 있어서 유용합니다.

그럼, 위의 명령어를 사용해서 각 파일의 데이터 구성을 살펴보겠습니다. 데이터 열이 영어로 되어 있어서 헷갈리니 친절하게 저희가 알려드릴게요!

- id : 샘플 아이디
- Gender : 성별
- Customer Type : Disloyal 또는 Loyal 고객
- Age : 나이
- Type of Travel : Business 또는 Personal Travel
- Class : 등급
- Flight Distance : 비행 거리
- Seat comfort : 좌석 만족도
- Departure/Arrival time convenient : 출발/도착 시간 편의성 만족도
- Food and drink : 식음료 만족도
- Gate location : 게이트 위치 만족도
- Inflight wifi service : 기내 와이파이 서비스 만족도
- Inflight entertainment : 기내 엔터테인먼트 만족도
- Online support : 온라인 지원 만족도
- Ease of Online booking : 온라인 예매 편리성 만족도
- On-board service : 탑승 서비스 만족도
- Leg room service : Leg room 서비스 만족도
- Baggage handling : 수하물 처리 만족도
- Checkin service : 체크인 서비스 만족도
- Cleanliness : 청결도 만족도
- Online boarding : 온라인보딩 만족도
- Departure Delay in Minutes : 출발 지연 시간
- Arrival Delay in Minutes : 도착 지연 시간
- target : 만족 여부

**1. train.csv : 학습 데이터**

In [3]:
#변수명.명령어()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 3000 non-null   int64
 1   Gender                             3000 non-null   object
 2   Customer Type                      3000 non-null   object
 3   Age                                3000 non-null   int64
 4   Type of Travel                     3000 non-null   object
 5   Class                              3000 non-null   object
 6   Flight Distance                    3000 non-null   int64
 7   Seat comfort                       3000 non-null   int64
 8   Departure/Arrival time convenient  3000 non-null   int64
 9   Food and drink                     3000 non-null   int64
 10  Gate location                      3000 non-null   int64
 11  Inflight wifi service              3000 non-null   int64
 12  Inflight entertainment             3000 non-null   int64
 13  Online support                     3000 non-null   int64
 14  Ease of Online booking             3000 non-null   int64
 15  On-board service                   3000 non-null   int64
 16  Leg room service                   3000 non-null   int64
 17  Baggage handling                   3000 non-null   int64
 18  Checkin service                    3000 non-null   int64
 19  Cleanliness                        3000 non-null   int64
 20  Online boarding                    3000 non-null   int64
 21  Departure Delay in Minutes         3000 non-null   int64
 22  Arrival Delay in Minutes           3000 non-null   float64
 23  target                             3000 non-null   int64
dtypes: float64(1), int64(19), object(4)
memory usage: 562.6+ KB

In [4]:
train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Female,disloyal Customer,22,Business travel,Eco,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,Female,Loyal Customer,37,Business travel,Business,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,Male,Loyal Customer,46,Business travel,Business,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,Female,disloyal Customer,24,Business travel,Eco,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,Female,Loyal Customer,58,Business travel,Business,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1

In [5]:
train.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'target'],
      dtype='object')

**2. test.csv : 테스트 데이터**

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 2000 non-null   int64
 1   Gender                             2000 non-null   object
 2   Customer Type                      2000 non-null   object
 3   Age                                2000 non-null   int64
 4   Type of Travel                     2000 non-null   object
 5   Class                              2000 non-null   object
 6   Flight Distance                    2000 non-null   int64
 7   Seat comfort                       2000 non-null   int64
 8   Departure/Arrival time convenient  2000 non-null   int64
 9   Food and drink                     2000 non-null   int64
 10  Gate location                      2000 non-null   int64
 11  Inflight wifi service              2000 non-null   int64
 12  Inflight entertainment             2000 non-null   int64
 13  Online support                     2000 non-null   int64
 14  Ease of Online booking             2000 non-null   int64
 15  On-board service                   2000 non-null   int64
 16  Leg room service                   2000 non-null   int64
 17  Baggage handling                   2000 non-null   int64
 18  Checkin service                    2000 non-null   int64
 19  Cleanliness                        2000 non-null   int64
 20  Online boarding                    2000 non-null   int64
 21  Departure Delay in Minutes         2000 non-null   int64
 22  Arrival Delay in Minutes           2000 non-null   float64
dtypes: float64(1), int64(18), object(4)
memory usage: 359.5+ KB

In [7]:
test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Female,Loyal Customer,61,Personal Travel,Eco,2037,1,1,1,...,5,5,5,5,5,3,5,3,51,58.0
1,2,Female,disloyal Customer,27,Business travel,Business,1846,1,1,1,...,1,1,3,4,5,4,4,1,0,0.0
2,3,Female,Loyal Customer,52,Business travel,Business,1622,4,4,4,...,4,5,5,5,5,4,5,3,0,0.0
3,4,Male,Loyal Customer,54,Business travel,Business,3534,4,4,4,...,5,2,2,2,2,5,2,1,0,0.0
4,5,Female,Loyal Customer,41,Business travel,Eco,1471,4,3,3,...,4,4,3,1,2,5,4,4,0,0.0

In [8]:
test.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

**3. sample_submissoin.csv : 제출 양식**

In [10]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2000 non-null   int64
 1   target  2000 non-null   int64
dtypes: int64(2)
memory usage: 31.4 KB

- id : 샘플 아이디
- target : 만족 여부

제출 양식의 info를 통해서 우리는 고객 만족 여부를 예측 하는 게 최종 목표임을 확인할 수 있어요!

앞으로 남은 Stage를 통해 함께 target 열을 예측해볼까요?

---

## 4. 제출 파일 생성 및 제출

일단 다짜고짜 제출을 한번 해볼게요.

(아직 아무것도 한 게 없다고 생각하지 마세요 시작이 반이니까요!!)

우선 이번 제출을 통해 리더 보드에 등록하고 이후 완성도 있는 제출을 통해 조금씩 점수를 올려 볼게요.

일단은 제출 파일을 저장해보겠습니다. 

to_csv를 이용해서 기존의 sample_submission.csv를 stage1.csv로 저장해 제출해 보겠습니다.

In [11]:
sample_submission.to_csv('stage1.csv', index = False)

---

stage 1, 무사히 완료 = 33

다음 stage에서 만나요!