# [ì—ì–´í¬ë£¨] í•­ê³µì‚¬ ê³ ê° ë§Œì¡±ë„ ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒ 
# Stage 1. í”„ë¡œì íŠ¸ ë°°ê²½ ë° ë°ì´í„° íŒŒì•…í•˜ê¸°

í•­ê³µì‚¬ ê³ ê° ë§Œì¡±ë„ ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒì— ì°¸ì—¬í•˜ì‹  ë°ì´ì»¤ ì—¬ëŸ¬ë¶„, í™˜ì˜í•©ë‹ˆë‹¤. ğŸ™Œ

## 1. Intro

ê³ ê° ë§Œì¡±ë„ ì¡°ì‚¬ ì™œ í•„ìš”í• ê¹Œìš”?

BtoC ì‚¬ì—…ì„ ì¶”ì§„í•˜ëŠ” íšŒì‚¬ì—ê²Œ ê³ ê° ë§Œì¡±ë„ë¥¼ íŒŒì•…í•˜ëŠ” ê²ƒì€ ë¯¸ë˜ ì‚¬ì—… ê³„íšì„ ì„¸ìš°ê³  ì„±ì¥í•˜ëŠ” ë° ìˆì–´ ê°€ì¥ ì¤‘ìš”í•œ ì§€í‘œì…ë‹ˆë‹¤. ê³ ê° ë§Œì¡±ë„ ì˜ˆì¸¡ì€ ê³ ê°ì´ ì›í•˜ëŠ” ì„œë¹„ìŠ¤ë¥¼ íŒŒì•…í•˜ê³  í’ˆì§ˆì„ í–¥ìƒ ì‹œì¼œ ì¶©ì„± ê³ ê°ì„ í™•ë³´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ê¶ê·¹ì ìœ¼ë¡œ ê¸°ì—…ì´ ì„±ì¥í•  ìˆ˜ ìˆëŠ” ë™ë ¥ì„ ì œê³µí•˜ëŠ” ê²ƒì´ì£ .

ë”°ë¼ì„œ ë‹¤ì–‘í•œ ì‚¬ì—…ì—ì„œ ê³ ê° ë§Œì¡±ë„ë¥¼ ì˜ˆì¸¡í•  ìˆ˜ ìˆë„ë¡ ìš°ì„  í•­ê³µì‚¬ ê³ ê° ë§Œì¡±ë„ ì˜ˆì¸¡ì„ ì§„í–‰í•´ë³´ë ¤ í•©ë‹ˆë‹¤.

---

## 2. í”„ë¡œì íŠ¸ ë°°ê²½

![image111](https://images.unsplash.com/photo-1483450388369-9ed95738483c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)

ì½”ë¡œë‚˜ 19 íœë°ë¯¹ìœ¼ë¡œ ì „ ì„¸ê³„ í•­ê³µ ì—…ê³„ê°€ í° íƒ€ê²©ì„ ì…ì—ˆìŠµë‹ˆë‹¤.

2021ë…„ ì „ ì„¸ê³„ ê³µí•­ì€ covid-19 ìœ„ê¸°ë¡œ ì¸í•´ ì˜ˆìƒ ê¸°ì¤€ì¹˜ ëŒ€ë¹„ ì „ ì„¸ê³„ ì—¬ê° ìš´ì†¡ëŸ‰ì´ 35.5% ê°ì†Œí•˜ì˜€ê³ , 2022ë…„ ë§ê¹Œì§€ 3,100ì–µ ë‹¬ëŸ¬ ì´ìƒì˜ ì†ì‹¤ì„ ì˜ˆìƒí•  ë§Œí¼ ì–´ë ¤ìš´ ì‹œê°„ì´ì—ˆìŠµë‹ˆë‹¤.

í˜„ì¬ëŠ” ìœ„ë“œ ì½”ë¡œë‚˜ ìƒí™©ì— ë”°ë¼ ì£¼ìš” í•­ê³µì‚¬ë“¤ì€ êµ­ë‚´/êµ­ì œì„  ë…¸ì„  ì¬ê°œë¥¼ í†µí•´ ë‹¤ì‹œ í™œë ¥ì„ ì°¾ëŠ” ì¡°ì§ì„ ë³´ì´ê³  ìˆìŠµë‹ˆë‹¤.

ê° í•­ê³µì‚¬ë“¤ì€ ì½”ë¡œë‚˜ 19 ì´í›„ ë°©ì—­ê³¼ ì•ˆì „ì— ì£¼ì•ˆì ì„ ë‘ê³ Â  í¬ìŠ¤íŠ¸ ì½”ë¡œë‚˜ ì‹œëŒ€ë¥¼ ì„ ë„í•˜ëŠ” í•­ê³µì‚¬ë¡œ êµ³ê±´íˆ ìë¦¬ë§¤ê¹€í•˜ê¸° ìœ„í•´ ê³ ê° ì„œë¹„ìŠ¤ ê°•í™”ë¥¼ ìœ„í•œ ë‹¤ì–‘í•œ ë…¸ë ¥ì„ ê¸°ìš¸ì—¬ ë‚˜ê°ˆ ê³„íšì„ ì„¸ìš°ê³  ìˆìŠµë‹ˆë‹¤. 

ê·¸ë ‡ë‹¤ë©´, ì„œë¹„ìŠ¤ì˜ ì§ˆì  í–¥ìƒì„ í†µí•´ 1ìœ„ í•­ê³µì‚¬ê°€ ë  ìˆ˜ ìˆë„ë¡ 

ì•„ë˜ì˜ ë°ì´í„°ë¡œ ê³ ê° ë§Œì¡±ë„ë¥¼ í•¨ê»˜ ì˜ˆì¸¡í•´ ë³¼ê¹Œìš”?

---

## 3. ë°ì´í„° ì‚´í´ë³´ê¸°

**ë°ì´í„° ì„¤ëª…**
- ì´ ë°ì´í„°ëŠ” í•­ê³µì‚¬ ì¡°ì§ì—ì„œ ì œê³µí•œ ê²ƒì…ë‹ˆë‹¤. íšŒì‚¬ì˜ ì‹¤ì œ ì´ë¦„ì€ ë‹¤ì–‘í•œ ëª©ì ìœ¼ë¡œ ì¸í•´ ì œê³µë˜ì§€ ì•Šì•„ Invisistico Airlinesë¼ëŠ” ì´ë¦„ì´ ì‚¬ìš©ë˜ì—ˆìŠµë‹ˆë‹¤.
- ë°ì´í„° ì„¸íŠ¸ëŠ” ì´ë¯¸ í•¨ê»˜ ë¹„í–‰í•œ ê³ ê°ì˜ ì„¸ë¶€ ì •ë³´ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤. ë‹¤ì–‘í•œ ìƒí™©ê³¼ ë¹„í–‰ ë°ì´í„°ì— ëŒ€í•œ ê³ ê°ì˜ í”¼ë“œë°±ì´ í†µí•©ë˜ì—ˆìŠµë‹ˆë‹¤.
- ì´ ë°ì´í„° ì„¸íŠ¸ì˜ ì£¼ìš” ëª©ì ì€ ë‹¤ë¥¸ ë§¤ê°œë³€ìˆ˜ ê°’ì˜ ì„¸ë¶€ ì‚¬í•­ì„ ê³ ë ¤í•  ë•Œ ë¯¸ë˜ì˜ ê³ ê°ì´ ì„œë¹„ìŠ¤ì— ë§Œì¡±í• ì§€ ì—¬ë¶€ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

ì¶œì²˜: https://www.kaggle.com/sjleshrac/airlines-customer-satisfaction

### 3.1 ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

ë°ì´í„° ë¶„ì„ì— ì•ì„œ, ì‚¬ìš©í•  ë°ì´í„°ê°€ ì–´ë–¤ ë°ì´í„°ì¸ì§€ ê¼¼ê¼¼íˆ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤. 

ì´ ê³¼ì •ì€ ì£¼ì–´ì§„ ë°ì´í„°ê°€ ì–´ë–¤ ë°ì´í„°ì¸ì§€ íŒŒì•…í•˜ê³  ì–´ë–¤ ë¶„ì„ì´ ê°€ëŠ¥í•œì§€ í™•ì¸í•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤. ë°ì´í„° ë¶„ì„ì˜ ë°©í–¥ì„±ì„ ì¡ê¸° ìœ„í•œ ê³¼ì •ì´ë¼ê³  í•  ìˆ˜ ìˆì–´ìš”!

ì´ í”„ë¡œì íŠ¸ëŠ” ì•„ë˜ì™€ ê°™ì€ 3ê°œì˜ csv íŒŒì¼ì„ ì œê³µí•©ë‹ˆë‹¤.

1. train.csv : ë°ì´í„° ë¶„ì„ ëª¨ë¸ì„ í•™ìŠµ(train)í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°

2. test.csv : ë°ì´í„° ë¶„ì„ ëª¨ë¸ì„ í†µí•´ ì •ë‹µì„ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°

3. sample_submission.csv : ì˜ˆì¸¡í•œ ì •ë‹µ ê°’ì„ ê¸°ë¡í•˜ì—¬ ì œì¶œí•˜ê¸° ìœ„í•œ ìƒ˜í”Œ ì •ë‹µ íŒŒì¼

ë°ì´í„° íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ê¸°ì— ì•ì„œ, í•„ìš”í•œ ëª…ë ¹ì–´ì™€ íŒ¨í‚¤ì§€ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

- **import :** ì„¤ì¹˜ëœ "pandas" íŒ¨í‚¤ì§€ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ” ëª…ë ¹ì–´
- **pandas** : ë°ì´í„° ë¶„ì„ì— ìš©ì´í•œ ë°ì´í„° í˜•ì‹ (Series, DataFrame) ì œê³µ
- **as**Â : aliasì˜ ì•½ì–´ì¸ as. ì•½ì–´ë¥¼ ìƒì„±í•´ ê¸´ ì´ë¦„ì„ ê°€ì§„ íŒ¨í‚¤ì§€ë„ ê°„í¸í•˜ê²Œ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆìŒ. pandasë¥¼ pdë¡œ ë°”ê¾¸ë‹ˆê¹Œ ì–¼ë§ˆë‚˜ í¸í•˜ê²Œìš”?

í•¨ê»˜ ì…ë ¥í•´ë³¼ê¹Œìš”?

In [1]:
import pandas as pd

pandasë¥¼ import í–ˆë‹¤ë©´ pandas íŒ¨í‚¤ì§€ì—ì„œ ì œê³µí•˜ëŠ” "read_csv"ë¥¼ í™œìš©í•˜ì—¬ csvíŒŒì¼ì„ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆì–´ìš”! 

ì›í•˜ëŠ” ë³€ìˆ˜ëª…ì— ë¶ˆëŸ¬ì˜¨ ë°ì´í„° csv íŒŒì¼ì„ ì €ì¥í•  ìˆ˜ ìˆì–´ìš”.

In [2]:
#ë³€ìˆ˜ëª… = pd.read_csv(íŒŒì¼ëª…)
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
sample_submission = pd.read_csv('./sample_submission.csv')

### 3.2 ë°ì´í„° í™•ì¸

ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ë¥¼ ê°„ë‹¨íˆ í™•ì¸í•´ë³´ëŠ” ë°©ë²•!

head(), info(), columns ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•´ í•¨ê»˜ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤. 

- head() : ë°ì´í„° í”„ë ˆì„ì˜ ì¼ë¶€ë¥¼ ë³´ì—¬ì¤˜ìš”. ê´„í˜¸ ì•ˆì˜ ìˆ«ìë¥¼ ì§€ì •í•´ ì›í•˜ëŠ” ë§Œí¼ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- info() : ë°ì´í„° í”„ë ˆì„ì„ êµ¬ì„±í•˜ëŠ” ì—´, ë°ì´í„° íƒ€ì…, ê°¯ìˆ˜ ë“±ì˜ ì •ë³´ì™€ ì´ìƒì¹˜ì™€ ê²°ì¸¡ì¹˜ë„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- columns : ë°ì´í„° í”„ë ˆì„ì˜ ì—´ë§Œ í™•ì¸í•  ìˆ˜ ìˆì–´ì„œ ìœ ìš©í•©ë‹ˆë‹¤.

ê·¸ëŸ¼, ìœ„ì˜ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•´ì„œ ê° íŒŒì¼ì˜ ë°ì´í„° êµ¬ì„±ì„ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤. ë°ì´í„° ì—´ì´ ì˜ì–´ë¡œ ë˜ì–´ ìˆì–´ì„œ í—·ê°ˆë¦¬ë‹ˆ ì¹œì ˆí•˜ê²Œ ì €í¬ê°€ ì•Œë ¤ë“œë¦´ê²Œìš”!

- id : ìƒ˜í”Œ ì•„ì´ë””
- Gender : ì„±ë³„
- Customer Type : Disloyal ë˜ëŠ” Loyal ê³ ê°
- Age : ë‚˜ì´
- Type of Travel : Business ë˜ëŠ” Personal Travel
- Class : ë“±ê¸‰
- Flight Distance : ë¹„í–‰ ê±°ë¦¬
- Seat comfort : ì¢Œì„ ë§Œì¡±ë„
- Departure/Arrival time convenient : ì¶œë°œ/ë„ì°© ì‹œê°„ í¸ì˜ì„± ë§Œì¡±ë„
- Food and drink : ì‹ìŒë£Œ ë§Œì¡±ë„
- Gate location : ê²Œì´íŠ¸ ìœ„ì¹˜ ë§Œì¡±ë„
- Inflight wifi service : ê¸°ë‚´ ì™€ì´íŒŒì´ ì„œë¹„ìŠ¤ ë§Œì¡±ë„
- Inflight entertainment : ê¸°ë‚´ ì—”í„°í…Œì¸ë¨¼íŠ¸ ë§Œì¡±ë„
- Online support : ì˜¨ë¼ì¸ ì§€ì› ë§Œì¡±ë„
- Ease of Online booking : ì˜¨ë¼ì¸ ì˜ˆë§¤ í¸ë¦¬ì„± ë§Œì¡±ë„
- On-board service : íƒ‘ìŠ¹ ì„œë¹„ìŠ¤ ë§Œì¡±ë„
- Leg room service : Leg room ì„œë¹„ìŠ¤ ë§Œì¡±ë„
- Baggage handling : ìˆ˜í•˜ë¬¼ ì²˜ë¦¬ ë§Œì¡±ë„
- Checkin service : ì²´í¬ì¸ ì„œë¹„ìŠ¤ ë§Œì¡±ë„
- Cleanliness : ì²­ê²°ë„ ë§Œì¡±ë„
- Online boarding : ì˜¨ë¼ì¸ë³´ë”© ë§Œì¡±ë„
- Departure Delay in Minutes : ì¶œë°œ ì§€ì—° ì‹œê°„
- Arrival Delay in Minutes : ë„ì°© ì§€ì—° ì‹œê°„
- target : ë§Œì¡± ì—¬ë¶€

**1. train.csv : í•™ìŠµ ë°ì´í„°**

In [3]:
#ë³€ìˆ˜ëª….ëª…ë ¹ì–´()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 3000 non-null   int64
 1   Gender                             3000 non-null   object
 2   Customer Type                      3000 non-null   object
 3   Age                                3000 non-null   int64
 4   Type of Travel                     3000 non-null   object
 5   Class                              3000 non-null   object
 6   Flight Distance                    3000 non-null   int64
 7   Seat comfort                       3000 non-null   int64
 8   Departure/Arrival time convenient  3000 non-null   int64
 9   Food and drink                     3000 non-null   int64
 10  Gate location                      3000 non-null   int64
 11  Inflight wifi service              3000 non-null   int64
 12  Inflight entertainment             3000 non-null   int64
 13  Online support                     3000 non-null   int64
 14  Ease of Online booking             3000 non-null   int64
 15  On-board service                   3000 non-null   int64
 16  Leg room service                   3000 non-null   int64
 17  Baggage handling                   3000 non-null   int64
 18  Checkin service                    3000 non-null   int64
 19  Cleanliness                        3000 non-null   int64
 20  Online boarding                    3000 non-null   int64
 21  Departure Delay in Minutes         3000 non-null   int64
 22  Arrival Delay in Minutes           3000 non-null   float64
 23  target                             3000 non-null   int64
dtypes: float64(1), int64(19), object(4)
memory usage: 562.6+ KB

In [4]:
train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Female,disloyal Customer,22,Business travel,Eco,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,Female,Loyal Customer,37,Business travel,Business,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,Male,Loyal Customer,46,Business travel,Business,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,Female,disloyal Customer,24,Business travel,Eco,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,Female,Loyal Customer,58,Business travel,Business,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1

In [5]:
train.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'target'],
      dtype='object')

**2. test.csv : í…ŒìŠ¤íŠ¸ ë°ì´í„°**

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 2000 non-null   int64
 1   Gender                             2000 non-null   object
 2   Customer Type                      2000 non-null   object
 3   Age                                2000 non-null   int64
 4   Type of Travel                     2000 non-null   object
 5   Class                              2000 non-null   object
 6   Flight Distance                    2000 non-null   int64
 7   Seat comfort                       2000 non-null   int64
 8   Departure/Arrival time convenient  2000 non-null   int64
 9   Food and drink                     2000 non-null   int64
 10  Gate location                      2000 non-null   int64
 11  Inflight wifi service              2000 non-null   int64
 12  Inflight entertainment             2000 non-null   int64
 13  Online support                     2000 non-null   int64
 14  Ease of Online booking             2000 non-null   int64
 15  On-board service                   2000 non-null   int64
 16  Leg room service                   2000 non-null   int64
 17  Baggage handling                   2000 non-null   int64
 18  Checkin service                    2000 non-null   int64
 19  Cleanliness                        2000 non-null   int64
 20  Online boarding                    2000 non-null   int64
 21  Departure Delay in Minutes         2000 non-null   int64
 22  Arrival Delay in Minutes           2000 non-null   float64
dtypes: float64(1), int64(18), object(4)
memory usage: 359.5+ KB

In [7]:
test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Female,Loyal Customer,61,Personal Travel,Eco,2037,1,1,1,...,5,5,5,5,5,3,5,3,51,58.0
1,2,Female,disloyal Customer,27,Business travel,Business,1846,1,1,1,...,1,1,3,4,5,4,4,1,0,0.0
2,3,Female,Loyal Customer,52,Business travel,Business,1622,4,4,4,...,4,5,5,5,5,4,5,3,0,0.0
3,4,Male,Loyal Customer,54,Business travel,Business,3534,4,4,4,...,5,2,2,2,2,5,2,1,0,0.0
4,5,Female,Loyal Customer,41,Business travel,Eco,1471,4,3,3,...,4,4,3,1,2,5,4,4,0,0.0

In [8]:
test.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

**3. sample_submissoin.csv : ì œì¶œ ì–‘ì‹**

In [10]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2000 non-null   int64
 1   target  2000 non-null   int64
dtypes: int64(2)
memory usage: 31.4 KB

- id : ìƒ˜í”Œ ì•„ì´ë””
- target : ë§Œì¡± ì—¬ë¶€

ì œì¶œ ì–‘ì‹ì˜ infoë¥¼ í†µí•´ì„œ ìš°ë¦¬ëŠ” ê³ ê° ë§Œì¡± ì—¬ë¶€ë¥¼ ì˜ˆì¸¡ í•˜ëŠ” ê²Œ ìµœì¢… ëª©í‘œì„ì„ í™•ì¸í•  ìˆ˜ ìˆì–´ìš”!

ì•ìœ¼ë¡œ ë‚¨ì€ Stageë¥¼ í†µí•´ í•¨ê»˜ target ì—´ì„ ì˜ˆì¸¡í•´ë³¼ê¹Œìš”?

---

## 4. ì œì¶œ íŒŒì¼ ìƒì„± ë° ì œì¶œ

ì¼ë‹¨ ë‹¤ì§œê³ ì§œ ì œì¶œì„ í•œë²ˆ í•´ë³¼ê²Œìš”.

(ì•„ì§ ì•„ë¬´ê²ƒë„ í•œ ê²Œ ì—†ë‹¤ê³  ìƒê°í•˜ì§€ ë§ˆì„¸ìš” ì‹œì‘ì´ ë°˜ì´ë‹ˆê¹Œìš”!!)

ìš°ì„  ì´ë²ˆ ì œì¶œì„ í†µí•´ ë¦¬ë” ë³´ë“œì— ë“±ë¡í•˜ê³  ì´í›„ ì™„ì„±ë„ ìˆëŠ” ì œì¶œì„ í†µí•´ ì¡°ê¸ˆì”© ì ìˆ˜ë¥¼ ì˜¬ë ¤ ë³¼ê²Œìš”.

ì¼ë‹¨ì€ ì œì¶œ íŒŒì¼ì„ ì €ì¥í•´ë³´ê² ìŠµë‹ˆë‹¤. 

to_csvë¥¼ ì´ìš©í•´ì„œ ê¸°ì¡´ì˜ sample_submission.csvë¥¼ stage1.csvë¡œ ì €ì¥í•´ ì œì¶œí•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [11]:
sample_submission.to_csv('stage1.csv', index = False)

---

stage 1, ë¬´ì‚¬íˆ ì™„ë£Œ = 33

ë‹¤ìŒ stageì—ì„œ ë§Œë‚˜ìš”!